
.side-nav .logo-sn {
    padding-bottom: 1rem;
    padding-top: 1rem;
}

.side-nav .logo-sn img {
    height: 38px;
}

.side-nav .search-form input[type=text] {
    margin-top: 0;
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.accordion .card {
    margin-bottom: 1.2rem;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.accordion .card .card-body {
    border-top: 1px solid #eee;
}

.intro-2 {
    background: url("/img/broken-lcd-screen-Wallpaper-Phone-number-7EU.jpg") no-repeat center center;
    background-size: cover;
}

.btn .fa {
    margin-left: 3px;
}

.top-nav-collapse {
    background-color: #45526e !important;
}

.navbar:not(.top-nav-collapse) {
    background: transparent !important;
}

@media (max-width: 768px) {
    .navbar:not(.top-nav-collapse) {
        background: #45526e !important;
    }
}

h6 {
    line-height: 1.7;
}

.hm-gradient .full-bg-img {
    background: -moz-linear-gradient(45deg, rgba(42, 27, 161, 0.6), rgba(29, 210, 177, 0.6) 100%);
    background: -webkit-linear-gradient(45deg, rgba(42, 27, 161, 0.6), rgba(29, 210, 177, 0.6) 100%);
    background: -webkit-gradient(linear, 45deg, from(rgba(42, 27, 161, 0.6)), to(rgba(29, 210, 177, 0.6)));
    background: -o-linear-gradient(45deg, rgba(42, 27, 161, 0.6), rgba(29, 210, 177, 0.6) 100%);
    background: linear-gradient(to 45deg, rgba(42, 27, 161, 0.6), rgba(29, 210, 177, 0.6) 100%);
}

@media (max-width: 450px) {
    .margins {
        margin-right: 1rem;
        margin-left: 1rem;
    }
}

@media (max-width: 740px) {
    .full-height,
    .full-height body,
    .full-height header,
    .full-height header .view {
        height: 1040px;
    }
}

.carousel-multi-item .controls-top {
    margin-bottom: 0px;
    margin-top: 30px;
}

.table {
    margin-bottom: 0px;
}

.table-bordered td,
.table-bordered th {
    border: 1px solid #000000;
}

.table thead th {
    border-bottom: 2px solid #000000;
}

table.table thead th {
    border-top: 1px solid #000000;
}

table th {
    font-size: 1.2rem;
    font-weight: 500;
}

table td {
    font-size: 1.2rem;
    font-weight: 400;
}

.table td, .table th {
    vertical-align: inherit;
}

td.td-with-input {
    width: 25%;
}

td.td-with-input > input {
    height: 1rem;
}

@media (max-width: 575px) {
    .table td, .table th {
        padding: .25rem;
    }

    table td {
        font-size: .9rem;
    }
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}

.background-grey {
    background-color: #eee;
}

.carousel-multi-item {
    margin-bottom: 0px;
}

.card.card-cascade .view {
    border-radius: 0px;
}

.card.card-cascade.wider.reverse .card-body {
    border: 1px solid #000000;
}

@media (max-width: 1025px) {
    .stepper.colorful-timeline li {
        -webkit-box-align: end;
        -webkit-align-items: flex-end;
        -ms-flex-align: end;
        align-items: flex-end;
    }
}

.stepper.colorful-timeline li a {
    padding: 0px 24px;
    left: 50%;
}

@media (max-width: 450px) {
    .stepper.colorful-timeline li a {
        left: 6%;
    }
}

@media (min-width: 451px) and (max-width: 1025px) {
    .stepper.colorful-timeline li a {
        left: 6%;
    }
}

.stepper.colorful-timeline li a .circle {
    width: 50px;
    height: 50px;
    line-height: 50px;
    font-size: 1.4em;
    text-align: center;
    position: absolute;
    top: 16px;
    margin-left: -50px;
    background-color: #ccc;
    z-index: 2;
}

.stepper.colorful-timeline li .step-content {
    width: 45%;
    float: left;
    border-radius: 2px;
    position: relative;
}

.stepper.colorful-timeline li .step-content:before {
    position: absolute;
    top: 1rem;
    right: -15px;
    display: inline-block;
    border-top: 15px solid transparent;
    border-left: 15px solid #ef8c45;
    border-right: 0 solid #ef8c45;
    border-bottom: 15px solid transparent;
    content: " ";
}

.stepper.colorful-timeline li .step-content:after {
    position: absolute;
    top: 1rem;
    right: -14px;
    display: inline-block;
    border-top: 14px solid transparent;
    border-left: 14px solid #ef8c45;
    border-right: 0 solid #ef8c45;
    border-bottom: 14px solid transparent;
    content: " ";
}

@media (max-width: 450px) {
    .stepper.colorful-timeline li .step-content {
        width: 80%;
        left: 3rem;
        margin-right: 3rem;
        margin-bottom: 2rem;
        float: right;
    }

    .stepper.colorful-timeline li .step-content:before {
        border-left-width: 0;
        border-right-width: 15px;
        left: -15px;
        right: auto;
    }

    .stepper.colorful-timeline li .step-content:after {
        border-left-width: 0;
        border-right-width: 14px;
        left: -14px;
        right: auto;
    }
}

@media (min-width: 451px) and (max-width: 1025px) {
    .stepper.colorful-timeline li .step-content {
        width: 85%;
        left: 3rem;
        margin-right: 3rem;
        margin-bottom: 2rem;
        float: right;
    }

    .stepper.colorful-timeline li .step-content:before {
        border-left-width: 0;
        border-right-width: 15px;
        left: -15px;
        right: auto;
    }

    .stepper.colorful-timeline li .step-content:after {
        border-left-width: 0;
        border-right-width: 14px;
        left: -14px;
        right: auto;
    }
}

.stepper.colorful-timeline li .step-content .timeline-header {
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}

.stepper.colorful-timeline li.timeline-inverted {
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    align-items: flex-end;
}

.stepper.colorful-timeline li.timeline-inverted .step-content {
    float: right;
}

.stepper.colorful-timeline li.timeline-inverted .step-content:before {
    border-left-width: 0;
    border-right-width: 15px;
    left: -15px;
    right: auto;
}

.stepper.colorful-timeline li.timeline-inverted .step-content:after {
    border-left-width: 0;
    border-right-width: 14px;
    left: -14px;
    right: auto;
}

.stepper.stepper-vertical.colorful-timeline li:not(:last-child):after {
    content: " ";
    position: absolute;
    width: 3px;
    background-color: #ef8c45;
    left: 50%;
    top: 57px;
    margin-left: -1.5px;
}

@media (max-width: 450px) {
    .stepper.stepper-vertical.colorful-timeline li:not(:last-child):after {
        left: 6%;
    }
}

@media (min-width: 451px) and (max-width: 1025px) {
    .stepper.stepper-vertical.colorful-timeline li:not(:last-child):after {
        left: 6%;
    }
}

input[type=date]:focus:not([readonly]),
input[type=datetime-local]:focus:not([readonly]),
input[type=email]:focus:not([readonly]),
input[type=number]:focus:not([readonly]),
input[type=password]:focus:not([readonly]),
input[type=search-md]:focus:not([readonly]),
input[type=search]:focus:not([readonly]),
input[type=tel]:focus:not([readonly]),
input[type=text]:focus:not([readonly]),
input[type=time]:focus:not([readonly]),
input[type=url]:focus:not([readonly]),
textarea.md-textarea:focus:not([readonly]) {
    /*border-bottom: 1px solid #ef8c45;*/
    /*box-shadow: 0 1px 0 0 #ef8c45;*/
}

input[type=date]:focus:not([readonly]) + label,
input[type=datetime-local]:focus:not([readonly]) + label,
input[type=email]:focus:not([readonly]) + label,
input[type=number]:focus:not([readonly]) + label,
input[type=password]:focus:not([readonly]) + label,
input[type=search-md]:focus:not([readonly]) + label,
input[type=search]:focus:not([readonly]) + label,
input[type=tel]:focus:not([readonly]) + label,
input[type=text]:focus:not([readonly]) + label,
input[type=time]:focus:not([readonly]) + label,
input[type=url]:focus:not([readonly]) + label,
textarea.md-textarea:focus:not([readonly]) + label {
    /*color: #ef8c45;*/
}

input[type=date].invalid,
input[type=date]:focus.invalid,
input[type=datetime-local].invalid,
input[type=datetime-local]:focus.invalid,
input[type=email].invalid,
input[type=email]:focus.invalid,
input[type=number].invalid,
input[type=number]:focus.invalid,
input[type=password].invalid,
input[type=password]:focus.invalid,
input[type=search-md].invalid,
input[type=search-md]:focus.invalid,
input[type=search].invalid,
input[type=search]:focus.invalid,
input[type=tel].invalid,
input[type=tel]:focus.invalid,
input[type=text].invalid,
input[type=text]:focus.invalid,
input[type=time].invalid,
input[type=time]:focus.invalid,
input[type=url].invalid,
input[type=url]:focus.invalid,
textarea.md-textarea.invalid,
textarea.md-textarea:focus.invalid {
    /*border-bottom: 1px solid #ef8c45;*/
    /*box-shadow: 0 1px 0 0 #ef8c45;*/
}

.md-form .prefix.active {
    color: #ef8c45;
}

.form-full-width {
    width: 100%;
}

.mdb-select {
    margin-left: 2.2rem;
    width: 92%;
    width: -webkit-calc(100% - 3rem);
    width: calc(100% - 3rem);
}

.select-wrapper input.select-dropdown {
    font-size: 0.8rem;
    color: #495057;
}

.dropdown-warning .dropdown-content li a,
.dropdown-warning .dropdown-content li span:hover,
.dropdown-warning .dropdown-content li.active {
    background-color: #ef8c45;
}

.grecaptcha-badge {
    display:none !important;
}

table.table .custom-color-x {
    background: #ff1a1a;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FFFFFF, #ff1a1a);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FFFFFF, #ff1a1a); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
table.table .custom-color-x-border {
    border-top: none;
    border-left: none;
    border-bottom: none;
    width: 5%;
}
table.table .custom-color {
    background: #b2e5fc;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FFFFFF, #b2e5fc);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FFFFFF, #b2e5fc); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
table.table .custom-color-border {
    border-top: none;
    border-left: none;
    border-bottom: none;
    /*border-left-color: #b2e5fc;*/
    /*border-top-color: #b2e5fc;*/
    /*border-bottom-color: #b2e5fc;*/
    width: 5%;
}

td.td-with-input input[type=text] {
    font-size: 2rem;
}
td.td-with-input label {
    font-size: 1rem;
}
@media (max-width:768px) {
    td.td-with-input label {
        font-size: 0.8rem;
    }
    td.td-with-input label.active {
        font-size: 0.7rem;
    }
    td.td-with-input input[type=text] {
        font-size: 1.5rem;
    }
}
@media (max-width:450px) {
    td.td-with-input label {
        font-size: 0.65rem;
    }
    td.td-with-input label.active {
        font-size: 0.5rem;
    }
}

.deep-orange {
    background-color: #ef8c45 !important;
}
.deep-orange-text {
    color: #ef8c45!important;
}

.btn-deep-orange {
    background-color: #ef8c45;
}

.popover {
    top: 20px !important;
}

.popover .arrow, .popover.bs-popover-right .arrow {
    display: none;
}

footer.page-footer .footer-copyright {
    line-height: initial;
    height: initial;
    padding: 20px 15px;
}
